.mainMap {
    -fx-border-width: 4px;
    -fx-border-color: black;
}
.storePic {
    -fx-image: url("/uiComponents/Resources/storePic.png");
}

.customerPic {
    -fx-image: url("/uiComponents/Resources/stickMan.png");
}

.storePic:hover {
    -fx-image: url("/uiComponents/Resources/storePicHover.png");
}

.customerPic:hover {
    -fx-image: url("/uiComponents/Resources/‏‏stickManHover.png");
}

.toolTip {
    -fx-graphic-text-gap: 12px;
}