.leftSideLabel {
    -fx-font-weight: bold;
}

.offersPlaceHolder {
    -fx-border-width: 1px;
    -fx-border-color: aqua;
}

.offersPlaceHolder:hover {
    -fx-border-width: 4px;
}

#topGridPane {
    -fx-border-color: black;
    -fx-border-width: 2;
}
