.leftSideLabel {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 0 0 0 40;


}

.leftSideTitle{

    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-underline: true;
    -fx-padding: 0 0 0 20;

}

#topGridPane {
    -fx-border-color: black;
    -fx-border-width: 2;
}