

/*
.button {
    -fx-font-size: 16px;
}
 */

#BorderPaneMain{
    -fx-background-image: url("../Resources/background.png");
    -fx-background-repeat: stretch;
}


.label {
    -fx-text-fill: white;
}



.leftMenuItem:hover {
    -fx-pref-width: 220px;
    -fx-background-color: #bac4bb; /* Green */
    -fx-color: white;
}

.label.leftMenuItem {
    -fx-font-weight: bold;
}

.leftMenuItem {
    -fx-pref-width: 200px;
    -fx-font-size: 16px;
    -fx-alignment: center-left;

}



#leftMenuVBox{

}
